.who-we-are {
  display: flex;
  margin: 80px 10%;
  flex-direction: row;
}

.who-we-are img {
  max-width: 100%;
}

.who-we-are .description {
  align-content: center;
  margin-left: 70px;
  max-width: 700px;
}

.who-we-are .description p {
  margin-bottom: 10px;
}

.who-we-are .description h1 {
  margin-bottom: 30px;
  display: inline-block;
  color: #00a1ab;
}

.who-we-are .description h1::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  top: 10px;
  background-color: #00a1ab;
}

.treatment {
  display: flex;
  padding: 80px 10%;
  flex-direction: row;
  background-color: #00a1ab;
}

.treatment div {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
  align-items: center;
}

.treatment p {
  text-transform: uppercase;
  color: white;
  justify-self: flex-start;
}

.treatment div:has(img) {
  margin-bottom: 50px;
}

.contraindications {
  display: flex;
  flex-direction: row;
  padding: 70px 10%;
}

.contraindications img {
  max-height: 500px;
  max-width: 100%;
  min-width: 250px;
}

.contraindications .description {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contraindications .description h1 {
  color: #00a1ab;
}

.contraindications .description p:last-child {
  padding-top: 25px;
  color: #00a1ab;
}

.contraindications .description p:last-child::before {
  content: "";
  height: 1px;
  display: block;
  position: relative;
  width: 100%;
  top: -10px;
  background-color: #00a1ab;
}

.legal-info {
  color: white;
  padding: 80px 10%;
  background-color: #00a1ab;
}

.legal-info p {
  margin-top: 20px;
}

@media (max-width: 900px) {
  .who-we-are {
    flex-direction: column;
  }
  .treatment {
    flex-direction: column;
  }
  .contraindications {
    flex-direction: column;
  }
  .who-we-are .description {
    margin-left: 0;
    margin-top: 20px;
  }
  .contraindications .description {
    margin-left: 0;
    margin-top: 20px;
  }
}
